# Backend API URL
BASE_URL=http://localhost:3002

# MongoDB Connection
# La URI puede incluir el nombre de la base de datos directamente
MONGO_URI=mongodb+srv://username:password@cluster.mongodb.net/worldforge_test

# (Opcional) Nombre de la base de datos si no está en la URI
# MONGO_DB_NAME=worldforge_test
