# ===============================
# Node / npm
# ===============================
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# ===============================
# Environment variables
# ===============================
.env

# ===============================
# Playwright
# ===============================
playwright-report/
test-results/
blob-report/

# ===============================
# Cucumber reports
# ===============================
reports/

# ===============================
# TypeScript
# ===============================
*.tsbuildinfo

# ===============================
# OS / Editor
# ===============================
.DS_Store
Thumbs.db

# ===============================
# VS Code
# ===============================
.vscode/
!.vscode/extensions.json

# ===============================
# Coverage (por si se agrega después)
# ===============================
coverage/
